body{
  background-color: rgb(210, 248, 255);
  header{
    background-color: rgb(241, 241, 241);
  }
  main{
    background-color: rgb(241, 241, 241);
  }
  aside{
    background-color: rgb(241, 241, 241);
    .sticky{
      background-color:rgb(190, 190, 190);
    }
  }
  footer{
    background-color: rgb(241, 241, 241);
  }
}